##### library

In [1]:
import os
import glob
import pandas as pd
import re
import collections
import csv


import matplotlib.pyplot as plt


import seaborn as sns
import numpy as np

### <1> Get all the unique data from columns
- Date : 23/03/16
- Author : Jeesu Lee

### step1. change path to import nanopore classification csv files

In [2]:
### change path to import nanopore classification csv files
path = './'
files_list = glob.glob(path + 'bertax_out_*')
files_list

['.\\bertax_out_Saliva1',
 '.\\bertax_out_Saliva2',
 '.\\bertax_out_Saliva3',
 '.\\bertax_out_Stool1',
 '.\\bertax_out_Stool2']

In [3]:
file_now = files_list[0]
file_now

'.\\bertax_out_Saliva1'

### step2. separate the csv file by at least two consecutive whitespace characters

In [5]:
### separate the columns by at least two consecutive whitespace characters
wimp_df = pd.read_csv(file_now, sep = '\s{2,}')
# wimp_df.shape
wimp_df

C:\Users\intco\AppData\Local\Temp\ipykernel_61320\1040322851.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  wimp_df = pd.read_csv(file_now, sep = '\s{2,}')

,id,superkingdom,phylum,genus
0,05793ee6-4bfc-46b5-bc89-fd0e6c8f37b1|AGG353_pa...,Viruses (64%),Rhodophyta (62%),Roseiflexus (41%)
1,4b8e9759-ed73-4400-b5c3-d030565a3256|AGG353_pa...,Viruses (89%),Uroviricota (73%),unknown (51%)
2,69ad46ce-5ddc-41b8-95e0-8fe46f42472f|AGG353_pa...,Bacteria (99%),Cyanobacteria (88%),Vibrio (98%)
3,a5590c24-3029-4d05-aef7-f2118b3541ae|AGG353_pa...,Bacteria (73%),Arthropoda (48%),Tribolium (89%)
4,c586e7ca-2f27-4427-b64d-95e19f4ef66e|AGG353_pa...,Eukaryota (81%),Rhodophyta (99%),Cyanidioschyzon (93%)
...,...,...,...,...
1394,e7fd2ee6-f953-4958-8d67-769aaeb6c727|AGE883_pa...,Eukaryota (95%),Arthropoda (83%),Sesamum (14%)
1395,cf667430-3d9a-4328-8d15-dd435368e390|AGE883_pa...,Bacteria (97%),Cyanobacteria (94%),Stanieria (61%)
1396,36c7c797-fb71-4495-89a3-576632ccf64e|AGE883_pa...,Bacteria (99%),Proteobacteria (98%),unknown (95%)
1397,8b42db5f-90ae-498e-a360-e8c73452ba68|AGE883_pa...,Bacteria (96%),Firmicutes (85%),unknown (47%)
1398,a6c24567-8935-4386-b140-f12bb33ee575|AGE883_pa...,Bacteria (82%),Proteobacteria (41%),Acidithiobacillus (98%)

### step3. separate the superkingdom column with whitespace characters.

In [8]:
### separate the superkingdom column with whitespace characters.
wimp_df_superkingdom = wimp_df['superkingdom'].str.split(' ', expand = True)
wimp_df_superkingdom

              0      1
0       Viruses  (64%)
1       Viruses  (89%)
2      Bacteria  (99%)
3      Bacteria  (73%)
4     Eukaryota  (81%)
...         ...    ...
1394  Eukaryota  (95%)
1395   Bacteria  (97%)
1396   Bacteria  (99%)
1397   Bacteria  (96%)
1398   Bacteria  (82%)

[1399 rows x 2 columns]

In [ ]:
wimp_df_phylum = wimp_df['phylum'].str.split(' ', expand = True)
wimp_df_phylum

In [ ]:
wimp_df_genus = wimp_df['genus'].str.split(' ', expand = True)
wimp_df_genus

### step4. using set() function to get the unique list which is not allowed to contain repetitions.

In [188]:
### using set() function to get the unique list which is not allowed to contain repetitions
unique_superkingdom = set(wimp_df_superkingdom[0])
unique_superkingdom

{'Archaea', 'Bacteria', 'Eukaryota', 'Viruses'}

In [16]:
unique_phylum = set(wimp_df_phylum[0])
len(unique_phylum)

41

In [17]:
unique_genus = set(wimp_df_genus[0])
len(unique_genus)

135

### step5. get an unordered collection from the dataframe and count the total number of each type of data

In [19]:
### count the total number of Viruses in the superkingdom
wimp_df['superkingdom'].str.contains('Viruses').sum()

218

In [25]:
### get an unordered collection from the superkingdom column and count the total number of each type of data
ctr_superkingdom = collections.Counter()

for r in wimp_df_superkingdom[0]:
    ctr_superkingdom.update(r.split("/"))
print(ctr_superkingdom)

Counter({'Eukaryota': 612, 'Bacteria': 504, 'Viruses': 218, 'Archaea': 65})

In [ ]:
ctr_phylum = collections.Counter()

for r in wimp_df_phylum[0]:
    ctr_phylum.update(r.split("/"))
print(ctr_phylum)

In [ ]:
ctr_genus = collections.Counter()

for r in wimp_df_genus[0]:
    ctr_genus.update(r.split("/"))
print(ctr_genus)

### <2> Save dataframe as csv
- Date : 23/03/17
- Author : Jeesu Lee

### step1. transform dictionary into the dataframe

In [23]:
### transform dictionary into the dataframetransform dictionary into the dataframe
df_ctr_superkingdom = pd.DataFrame(ctr_superkingdom, index = ['superkingdom'])
df_ctr_superkingdom

              Viruses  Bacteria  Eukaryota  Archaea
superkingdom      218       504        612       65

In [28]:
df_ctr_phylum = pd.DataFrame(ctr_phylum, index = ['phylum'])
df_ctr_phylum

,Rhodophyta,Uroviricota,Cyanobacteria,Arthropoda,Chordata,Crenarchaeota,Streptophyta,Chloroflexi,Firmicutes,Proteobacteria,...,Spirochaetes,Negarnaviricota,Peploviricota,Euglenozoa,Nematoda,Chlorobi,Nitrospirae,Platyhelminthes,Pisuviricota,Candidatus
phylum,35,173,21,63,135,25,161,52,72,118,...,8,1,8,14,5,4,3,11,3,1

In [29]:
df_ctr_genus = pd.DataFrame(ctr_genus, index = ['genus'])
df_ctr_genus

,Roseiflexus,unknown,Vibrio,Tribolium,Cyanidioschyzon,Lepisosteus,Fervidicoccus,Cynara,Beta,Methanocella,...,Populus,Actinopolyspora,Esox,Sesamum,Ustilago,Pyrobaculum,Chrysemys,Quercus,Monodelphis,Ictalurus
genus,33,190,51,24,26,3,10,27,15,8,...,2,2,1,2,1,1,1,1,1,1

### step2. save dataframe as csv

In [195]:
### save dataframe as csv
df_ctr_superkingdom.to_csv("Saliva1_superkingdom.csv", encoding='UTF-8')

In [197]:
df_ctr_phylum.to_csv("Saliva1_phylum.csv", encoding='UTF-8')

In [199]:
df_ctr_genus.to_csv("Saliva1_genus.csv", encoding='UTF-8')

### step3. merged data (Saliva1.csv, Saliva2.csv, Stool1.csv, Stool2.csv, Stool3.csv)