##### Get all the unique data from columns.
- Date : 23/03/16
- Author : Jeesu Lee

In [173]:
import os
import glob
import pandas as pd
import re
import collections

In [174]:
# change path to import nanopore classification csv files
path = './'
files_list = glob.glob(path + 'bertax_out_*')
files_list

['.\\bertax_out_Saliva1',
 '.\\bertax_out_Saliva2',
 '.\\bertax_out_Saliva3',
 '.\\bertax_out_Stool1',
 '.\\bertax_out_Stool2']

In [175]:
file_now = files_list[0]
file_now

'.\\bertax_out_Saliva1'

In [176]:
wimp_df = pd.read_csv(file_now, sep = '\s{2,}')
#wimp_df_unclassified = wimp_df[wimp_df['exit_status']=='Unclassified']
#wimp_df_unclassified.shape

wimp_df

C:\Users\intco\AppData\Local\Temp\ipykernel_39764\2355367215.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  wimp_df = pd.read_csv(file_now, sep = '\s{2,}')

,id,superkingdom,phylum,genus
0,05793ee6-4bfc-46b5-bc89-fd0e6c8f37b1|AGG353_pa...,Viruses (64%),Rhodophyta (62%),Roseiflexus (41%)
1,4b8e9759-ed73-4400-b5c3-d030565a3256|AGG353_pa...,Viruses (89%),Uroviricota (73%),unknown (51%)
2,69ad46ce-5ddc-41b8-95e0-8fe46f42472f|AGG353_pa...,Bacteria (99%),Cyanobacteria (88%),Vibrio (98%)
3,a5590c24-3029-4d05-aef7-f2118b3541ae|AGG353_pa...,Bacteria (73%),Arthropoda (48%),Tribolium (89%)
4,c586e7ca-2f27-4427-b64d-95e19f4ef66e|AGG353_pa...,Eukaryota (81%),Rhodophyta (99%),Cyanidioschyzon (93%)
...,...,...,...,...
1394,e7fd2ee6-f953-4958-8d67-769aaeb6c727|AGE883_pa...,Eukaryota (95%),Arthropoda (83%),Sesamum (14%)
1395,cf667430-3d9a-4328-8d15-dd435368e390|AGE883_pa...,Bacteria (97%),Cyanobacteria (94%),Stanieria (61%)
1396,36c7c797-fb71-4495-89a3-576632ccf64e|AGE883_pa...,Bacteria (99%),Proteobacteria (98%),unknown (95%)
1397,8b42db5f-90ae-498e-a360-e8c73452ba68|AGE883_pa...,Bacteria (96%),Firmicutes (85%),unknown (47%)
1398,a6c24567-8935-4386-b140-f12bb33ee575|AGE883_pa...,Bacteria (82%),Proteobacteria (41%),Acidithiobacillus (98%)

In [177]:
wimp_df_superkingdom = wimp_df['superkingdom'].str.split(' ', expand = True)

In [178]:
wimp_df_superkingdom

              0      1
0       Viruses  (64%)
1       Viruses  (89%)
2      Bacteria  (99%)
3      Bacteria  (73%)
4     Eukaryota  (81%)
...         ...    ...
1394  Eukaryota  (95%)
1395   Bacteria  (97%)
1396   Bacteria  (99%)
1397   Bacteria  (96%)
1398   Bacteria  (82%)

[1399 rows x 2 columns]

In [179]:
wimp_df_phylum = wimp_df['phylum'].str.split(' ', expand = True)

In [180]:
wimp_df_phylum

                   0      1     2
0         Rhodophyta  (62%)  None
1        Uroviricota  (73%)  None
2      Cyanobacteria  (88%)  None
3         Arthropoda  (48%)  None
4         Rhodophyta  (99%)  None
...              ...    ...   ...
1394      Arthropoda  (83%)  None
1395   Cyanobacteria  (94%)  None
1396  Proteobacteria  (98%)  None
1397      Firmicutes  (85%)  None
1398  Proteobacteria  (41%)  None

[1399 rows x 3 columns]

In [181]:
wimp_df_genus = wimp_df['genus'].str.split(' ', expand = True)

In [182]:
wimp_df_genus

                      0      1     2
0           Roseiflexus  (41%)  None
1               unknown  (51%)  None
2                Vibrio  (98%)  None
3             Tribolium  (89%)  None
4       Cyanidioschyzon  (93%)  None
...                 ...    ...   ...
1394            Sesamum  (14%)  None
1395          Stanieria  (61%)  None
1396            unknown  (95%)  None
1397            unknown  (47%)  None
1398  Acidithiobacillus  (98%)  None

[1399 rows x 3 columns]

In [183]:
wimp_df.shape

(1399, 4)

In [184]:
wimp_df_first_line = wimp_df.iloc[0]

In [185]:
wimp_df_first_line

id              05793ee6-4bfc-46b5-bc89-fd0e6c8f37b1|AGG353_pa...
superkingdom                                        Viruses (64%)
phylum                                           Rhodophyta (62%)
genus                                           Roseiflexus (41%)
Name: 0, dtype: object

In [186]:
wimp_df['superkingdom'].str.contains('Viruses').sum()

218

In [187]:
wimp_df

,id,superkingdom,phylum,genus
0,05793ee6-4bfc-46b5-bc89-fd0e6c8f37b1|AGG353_pa...,Viruses (64%),Rhodophyta (62%),Roseiflexus (41%)
1,4b8e9759-ed73-4400-b5c3-d030565a3256|AGG353_pa...,Viruses (89%),Uroviricota (73%),unknown (51%)
2,69ad46ce-5ddc-41b8-95e0-8fe46f42472f|AGG353_pa...,Bacteria (99%),Cyanobacteria (88%),Vibrio (98%)
3,a5590c24-3029-4d05-aef7-f2118b3541ae|AGG353_pa...,Bacteria (73%),Arthropoda (48%),Tribolium (89%)
4,c586e7ca-2f27-4427-b64d-95e19f4ef66e|AGG353_pa...,Eukaryota (81%),Rhodophyta (99%),Cyanidioschyzon (93%)
...,...,...,...,...
1394,e7fd2ee6-f953-4958-8d67-769aaeb6c727|AGE883_pa...,Eukaryota (95%),Arthropoda (83%),Sesamum (14%)
1395,cf667430-3d9a-4328-8d15-dd435368e390|AGE883_pa...,Bacteria (97%),Cyanobacteria (94%),Stanieria (61%)
1396,36c7c797-fb71-4495-89a3-576632ccf64e|AGE883_pa...,Bacteria (99%),Proteobacteria (98%),unknown (95%)
1397,8b42db5f-90ae-498e-a360-e8c73452ba68|AGE883_pa...,Bacteria (96%),Firmicutes (85%),unknown (47%)
1398,a6c24567-8935-4386-b140-f12bb33ee575|AGE883_pa...,Bacteria (82%),Proteobacteria (41%),Acidithiobacillus (98%)

In [188]:
unique_superkingdom = set(wimp_df_superkingdom[0])
unique_superkingdom

{'Archaea', 'Bacteria', 'Eukaryota', 'Viruses'}

In [203]:
unique_phylum = set(wimp_df_phylum[0])
len(unique_phylum)

41

In [204]:
unique_genus = set(wimp_df_genus[0])
len(unique_genus)

135

In [191]:
ctr_superkingdom = collections.Counter()

for r in wimp_df_superkingdom[0]:
    ctr_superkingdom.update(r.split("/"))
print(ctr_superkingdom)

Counter({'Eukaryota': 612, 'Bacteria': 504, 'Viruses': 218, 'Archaea': 65})

In [192]:
ctr_phylum = collections.Counter()

for r in wimp_df_phylum[0]:
    ctr_phylum.update(r.split("/"))
print(ctr_phylum)

Counter({'Uroviricota': 173, 'Streptophyta': 161, 'Chordata': 135, 'Proteobacteria': 118, 'Bacteroidetes': 84, 'Firmicutes': 72, 'Ascomycota': 70, 'Arthropoda': 63, 'Chloroflexi': 52, 'Mollusca': 47, 'Actinobacteria': 44, 'Apicomplexa': 43, 'Rhodophyta': 35, 'unknown': 29, 'Crenarchaeota': 25, 'Cyanobacteria': 21, 'Planctomycetes': 19, 'Chlorophyta': 18, 'Deinococcus-Thermus': 16, 'Thermotogae': 16, 'Bacillariophyta': 16, 'Basidiomycota': 16, 'Euglenozoa': 14, 'Thaumarchaeota': 11, 'Chlamydiae': 11, 'Platyhelminthes': 11, 'Euryarchaeota': 9, 'Fusobacteria': 8, 'Spirochaetes': 8, 'Peploviricota': 8, 'Verrucomicrobia': 7, 'Aquificae': 7, 'Gemmatimonadetes': 7, 'Nematoda': 5, 'Tenericutes': 4, 'Lentisphaerae': 4, 'Chlorobi': 4, 'Nitrospirae': 3, 'Pisuviricota': 3, 'Negarnaviricota': 1, 'Candidatus': 1})

In [193]:
ctr_genus = collections.Counter()

for r in wimp_df_genus[0]:
    ctr_genus.update(r.split("/"))
print(ctr_genus)

Counter({'unknown': 190, 'Cucurbita': 105, 'Vibrio': 51, 'Pseudomonas': 46, 'Ooceraea': 34, 'Roseiflexus': 33, 'Ktedonosporobacter': 32, 'Ciona': 28, 'Cynara': 27, 'Actinomyces': 27, 'Cyanidioschyzon': 26, 'Bifidobacterium': 25, 'Tribolium': 24, 'Zymoseptoria': 22, 'Salinisphaera': 22, 'Neisseria': 22, 'Rubrobacter': 19, 'Mus': 19, 'Daucus': 18, 'Oncorhynchus': 17, 'Aeromonas': 17, 'Cercospora': 17, 'Crassostrea': 17, 'Deinococcus': 16, 'Beta': 15, 'Drosophila': 15, 'Candidatus': 15, 'Archaeoglobus': 13, 'Apis': 12, 'Thalassiosira': 12, 'Plasmodium': 12, 'Gemmata': 12, 'Betta': 11, 'Cryptococcus': 11, 'Gallus': 11, 'Fervidicoccus': 10, 'Limnochorda': 10, 'Papaver': 10, 'Octopus': 10, 'Theileria': 10, 'Botrytis': 9, 'Olea': 9, 'Nitrososphaera': 9, 'Methanocella': 8, 'Aspergillus': 8, 'Leishmania': 8, 'Ostreococcus': 8, 'Acidithiobacillus': 8, 'Leptospira': 8, 'Colletotrichum': 8, 'Equus': 7, 'Solanum': 7, 'Microcaecilia': 7, 'Schistosoma': 7, 'Elaeis': 6, 'Methanosarcina': 6, 'Stanieria': 6, 'Caenorhabditis': 6, 'Rudivirus': 6, 'Brassica': 6, 'Fusarium': 5, 'Phyllostomus': 5, 'Pyricularia': 5, 'Akkermansia': 5, 'Physcomitrium': 5, 'Podarcis': 5, 'Legionella': 5, 'Chlamydia': 5, 'Pomacea': 5, 'Frankia': 5, 'Helianthus': 5, 'Gadus': 4, 'Malassezia': 4, 'Nymphaea': 4, 'Synechococcus': 4, 'Sporisorium': 4, 'Desulfovibrio': 4, 'Musa': 4, 'Gopherus': 4, 'Oryzias': 4, 'Sarcophilus': 4, 'Aquila': 4, 'Rhinatrema': 4, 'Phaeodactylum': 4, 'Ornithorhynchus': 4, 'Mariprofundus': 4, 'Sedimentisphaera': 4, 'Lepisosteus': 3, 'Erpetoichthys': 3, 'Acyrthosiphon': 3, 'Asparagus': 3, 'Methanocaldococcus': 3, 'Nitrospira': 3, 'Trichoplusia': 3, 'Prosthecochloris': 3, 'Manihot': 3, 'Scleropages': 3, 'Spodoptera': 3, 'Rhopalosiphum': 2, 'Cottoperca': 2, 'Astyanax': 2, 'Perca': 2, 'Aythya': 2, 'Cynoglossus': 2, 'Calypte': 2, 'Methanobrevibacter': 2, 'Clupea': 2, 'Citrus': 2, 'Streptomyces': 2, 'Strigops': 2, 'Salarias': 2, 'Methanobacterium': 2, 'Brachyspira': 2, 'Sphaeramia': 2, 'Denticeps': 2, 'Populus': 2, 'Actinopolyspora': 2, 'Sesamum': 2, 'Thermogutta': 1, 'Oryctolagus': 1, 'Echeneis': 1, 'Modestobacter': 1, 'Coffea': 1, 'Acidilobus': 1, 'Euzebya': 1, 'Nitrosopumilus': 1, 'Xenopus': 1, 'Vitis': 1, 'Esox': 1, 'Ustilago': 1, 'Pyrobaculum': 1, 'Chrysemys': 1, 'Quercus': 1, 'Monodelphis': 1, 'Ictalurus': 1})

##### Save dataframe as csv.
- Date : 23/03/17
- Author : Jeesu Lee

In [194]:
df_ctr_superkingdom = pd.DataFrame(ctr_superkingdom, index = ['superkingdom'])
df_ctr_superkingdom

              Viruses  Bacteria  Eukaryota  Archaea
superkingdom      218       504        612       65

In [195]:
df_ctr_superkingdom.to_csv("Saliva1_superkingdom.csv", encoding='UTF-8')

In [196]:
df_ctr_phylum = pd.DataFrame(ctr_phylum, index = ['phylum'])
df_ctr_phylum

,Rhodophyta,Uroviricota,Cyanobacteria,Arthropoda,Chordata,Crenarchaeota,Streptophyta,Chloroflexi,Firmicutes,Proteobacteria,...,Spirochaetes,Negarnaviricota,Peploviricota,Euglenozoa,Nematoda,Chlorobi,Nitrospirae,Platyhelminthes,Pisuviricota,Candidatus
phylum,35,173,21,63,135,25,161,52,72,118,...,8,1,8,14,5,4,3,11,3,1

In [197]:
df_ctr_phylum.to_csv("Saliva1_phylum.csv", encoding='UTF-8')

In [198]:
df_ctr_genus = pd.DataFrame(ctr_genus, index = ['genus'])
df_ctr_genus

,Roseiflexus,unknown,Vibrio,Tribolium,Cyanidioschyzon,Lepisosteus,Fervidicoccus,Cynara,Beta,Methanocella,...,Populus,Actinopolyspora,Esox,Sesamum,Ustilago,Pyrobaculum,Chrysemys,Quercus,Monodelphis,Ictalurus
genus,33,190,51,24,26,3,10,27,15,8,...,2,2,1,2,1,1,1,1,1,1

In [199]:
df_ctr_genus.to_csv("Saliva1_genus.csv", encoding='UTF-8')